.btn {
    border-radius: 6.25rem;
    padding: 0.625rem 1.875rem;
    color: #FFF;
    font-family: "Roboto",sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}